$avardaGreen: #7AAA1C;

@import "navbar";
@import "header";
@import "features";
@import "footer";
.is-markerless{
  list-style: none!important;
}
.is-marginless-touch{}
.has-vcentered-content{
  display: flex;
  align-items: center;
}
.has-margin-auto{
  display: block;
  margin:0 auto;
}
.star{
  background: url('../images/star.png') top no-repeat;
  background-size: 75%;
}
.avardaGreen{
  color:$avardaGreen !important;
}
.has-shadow{
  text-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}
.has-overlay{
  background: rgba(21,21,21,0.7);
  padding: 1rem;
}