@import "navbar";
@import "header";
@import "features";
@import "footer";
.is-markerless{
  list-style: none!important;
}
.is-marginless-touch{}
.has-vcentered-content{
  display: flex;
  align-items: center;
}
.star{
  background: url('../images/star.png') center no-repeat;
  background-size: contain;
}